<header>
  <div class="nav">
    <ul>
      <% if logged_in? %>
          <li class="news"><img class="size32 avatar" src="<%= current_user['image'] %>"> </li>
          <li class="news"><%= link_to 'Log out', sign_out_path, :method => :delete %></li>

      <% else %>
          <li class="contact"><%= link_to 'Login', 'auth/twitter/' %></li>
      <% end %>


    </ul>
  </div>
</header>