<header>
  <div class="nav">
    <ul>
      <% if logged_in? %>
          <!--<li style="text-align: left !important" class="news"><p>Welcome, @<%= current_user['username'] %></p></li>-->
          <li class="news"><%= link_to 'Log out', sign_out_path, :method => :delete %></li>

      <% else %>
          <li class="contact"><%= link_to 'Login', 'auth/twitter/' %></li>
      <% end %>


    </ul>
  </div>
</header>