<p>
  <% if logged_in? %>
      Welcome, <b>@<%= current_user['username'] %></b><br>

      <%= render 'shared/search_box' %>

<% else %>
      To access this application, please
      <%= link_to 'login with twitter', 'auth/twitter/' %>
  <% end %>
</p>